<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flicky Bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/flickr/images/favicon-inv.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/flickr/strapping/flicky.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/flickr/strapping/flicky-module.js"></script>
</head>

<body ng-app="appFlicky" ng-controller="flickyController">
    <div>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
            <span class="navbar-brand">
                <img src="/flickr/images/flicky-logo-inv-sm.png" width="220" height="40" class="d-inline-block align-top" alt="Flicky Xtras Logo"/>
            </span>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/flickr/">Menu</a></li>
                </ul>
                <form class="form-inline" ng-submit="doSearch()">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="searchText" />
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="main-body">
        <div class="flexy">
            <flicky-directive class="flicky-card" ng-repeat="pic in flickr" pic="pic" img="pic.image"></flicky-directive>
        </div>
    </div>

</body>
</html>