   body {
        margin: 0;
        padding: 0;
    }
    a {
        color:blue;
        text-decoration: none;
    }
    a:hover {
        color:black;
        text-decoration: underline;
    }
    a:visited {
        color:blue;
    }
    .fly-right {
        float: right;
    }
    .fly-right > a {
        font: bold 40px verdana;
    }

    #flicky-logo {
        background: transparent url('../images/flicky-logo.png') no-repeat;
        width: 313px;
        height: 57px;
        display: inline-block;
        vertical-align: middle;
    }
    #loading-bar {
        display: block;
        text-align: center;
        background: transparent url('../images/loading-bar.gif') center no-repeat ; 
        height: 64px;
    }

    .title-bar {
        border-bottom: solid 2px lightgrey;
        background-color: white;
        line-height: 64px;
        position: fixed;
        top: 0px;
        width: 100%;
        overflow: hidden;
    }
    .title-text {
        font: normal 21px verdana; 
        color: grey;
        display: inline-block;
        padding: 6px 16px;
        vertical-align: middle;
    }
    .errors-bar {
        top: 30%;
        left: 10%;
        width: 80%;
        position: fixed;
        display: none;
        padding: 8px;
        border-radius: 16px;
        border: solid 2px red;
        background-color: lightgoldenrodyellow;
        font: normal 17px/1.5 verdana;
        color: red;
    }

    .pictures-block {
        margin-top: 64px;
        text-align: center;
        font: normal 13px verdana;
        color: black;
    }
    .pic-card {
        display: inline-block;
        text-align: center;
        width: 292px;
        height: 320px;
        padding: 12px;
        border: solid 0px lightgray;
        overflow: hidden;
    }
    .pic-link {
        display: inline-block;
    }
    .pic-fix {
        height: 200px;
        line-height: 200px;
        overflow: hidden;
    }
    .pic-image {
        width: 240px;
        vertical-align: middle;
    }
    .pic-desc {
        display: block;
        color: grey;
    }
    .pic-tags {
        display: block;
        color: teal;
    }